/* CSS declarations go here */
body { padding-top: 70px; }

#login-dropdown-list {
  list-style: none;
  margin-top: 15px;
}
.table a {
  display:block;
}
.table tbody tr:hover, .table tbody tr:hover a {
  background-color: #337ab7;
  color: #ccc;
}
.table a:hover {
  text-decoration:none;
  color: #ccc;
}

.viewLabel {
  font-weight: bold;
}
.noCSSLink, .noCSSLink:hover {
  color: #000;
  text-decoration: none;
  padding-bottom: -3px;
}
.profilePic {
  border-radius: 30px;
  margin: 8px 0px 10px 10px;
  
}

.profileName {
  padding: 10px 10px 0 10px;
}

.navbar-right .glyphicon {
  border-radius: 30px;
  margin: 8px 10px 10px 5px;
  padding: 6px 6px;
  color: #777;
  border: 3px solid #777;
  border-radius: 30px;
  cursor: pointer;
  line-height: 1;
  display: inline-block;
}
