<template name="LocatieToevoegen">
	<div class="container">
		<ol class="breadcrumb">
		  <li><a href="/">Start</a></li>
		  <li class="active">Locatie Toevoegen</li>
		</ol>
		<form class="LocatieToevoegen">
			<div class="row">
		  		<div class="col-md-4">
					<h3>Locatie Toevoegen</h3>
					<div class="form-group">
						<label for="locatienaam">Locatie</label>
						<input type="text" placeholder="Locatie" class="form-control" name="locatienaam">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-2 col-md-offset-2">
					<input type="submit" class="btn btn-primary btn-block" value="Locatie Toevoegen">
				</div>
			</div>
		</form>
	</div>
</template>